AzureDataFactoryTrainingRep/pipeline/ForeachTableOnPrem.json
{
	"name": "ForeachTableOnPrem",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT SchemaTable\nFROM [ControlDB].[dbo].[AzureUploadTables]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerControlTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "GetAllTablesContent",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_GetAllTablesContent]",
								"storedProcedureParameters": {
									"DatabaseName": {
										"value": "AdventureWorks2017",
										"type": "String"
									},
									"SchemaTable": {
										"value": {
											"value": "@activity('Lookup1').output.Value",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "GtsOnPrem",
								"type": "LinkedServiceReference",
								"parameters": {
									"DBName": "ControlDB"
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}